# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
#ETC
codestyles/
_linux/
diff.xml
vcs.xml
filetypes.xml
debugger.xml
baseRefactoring.xml
*.DB
*.transaction
*.ipr


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/*
movies.txt
.settings
.classpath
.project
gwt-unitCache/
widgetsets/
/target
styles.css
addons.scss
rebel.xml
.DS_Store
*.iml
.idea/


